#profile-intro {
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}

#profile-image {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

#profile-name {
	margin-top: 0em;
	margin-bottom: 0em;
}

#profile-greetings {
	width: 80%;
	display: inline-block;
	text-align: left;
}

.profile-section {
	margin-top: 0em;
	margin-bottom: 2em;
	text-align: center;	
}

.profile-detail {
	text-align: center;	
	width: 80%;
	display: inline-block;
	text-align: left;
	margin-top: 0em;
	margin-bottom: 0.5em;
}